# Uses the same syntax as a .env file



# Cloudflare account ID
ACCOUNT_ID=""


# Requester IP for permitted requests
PERMITTED_IP=""
# Base64 encoded public key for authorized requests
PUBLIC_KEY_STRING=""


# Bind R2 buckets
# Docs: https://developers.cloudflare.com/r2/api/workers/workers-api-usage/

[[r2_buckets]]
binding = "modsBucket"
bucket_name = ""

[[r2_buckets]]
binding = "screenshotsBucket"
bucket_name = ""

[[r2_buckets]]
binding = "richPresenceIconsBucket"
bucket_name = ""