# Uses the same syntax as a .env file


ENVIRONMENT=""


# Comma separated list of permitted IPs
PERMITTED_IPS=""

# Base64 encoded public key for authorized requests
PUBLIC_KEY_STRING=""

# Base64 encoded private key for use in development mode
PRIVATE_KEY_STRING=""